# Import Key Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Info Of the Data Set

In [5]:
df_ferries = pd.read_csv('ferry exercise_student.csv')
df_ferries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521029 entries, 0 to 521028
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  521029 non-null  int64
 1   timestamp   520973 non-null  object
 2   longitude   520971 non-null  float64
 3   latitude    520984 non-null  float64
 4   t1          521029 non-null  float64
 5   t2          521029 non-null  float64
 6   t3          521029 non-null  float64
 7   t4          520986 non-null  float64
 8   a1          520982 non-null  float64
 9   a3          520982 non-null  float64
 10  head        520977 non-null  float64
 11  trackspeed  521029 non-null  float64
dtypes: float64(10), int64(1), object(1)
memory usage: 47.7+ MB

# Data Cleaning / Wrangling

The process of cleaning and unifying messy and complex datasets for easy access and analysis

### Identify missing values in tabular data:

In [6]:
df_ferries.isnull().sum()

Unnamed: 0     0
timestamp     56
longitude     58
latitude      45
t1             0
t2             0
t3             0
t4            43
a1            47
a3            47
head          52
trackspeed     0
dtype: int64

### Impute missing values:

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
imr = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [12]:
df_ferries.timestamp = imr.fit_transform(df_ferries['timestamp'].values.reshape(-1,1))[:,0]

In [13]:
df_ferries.isnull().sum()

Unnamed: 0     0
timestamp      0
longitude     58
latitude      45
t1             0
t2             0
t3             0
t4            43
a1            47
a3            47
head          52
trackspeed     0
dtype: int64